@{
    ViewData["Title"] = "About";
}

<h2>The Screwball Resume Project</h2>
<i>This is a project for the CNM .NET Deep Dive Bootcamp cohort 3</i>

<h3>This is my working area:</h3>


<table class="table">
    <tbody>
        
        <tr>
            <td>
                <a asp-area="" asp-controller="Applicants" asp-action="Index" class="navbar-brand">Applicants</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-area="" asp-controller="Jobs" asp-action="Index" class="navbar-brand">Jobs</a>
            </td>
          
        </tr>
        @*<tr>
        <td>
            <a asp-area="" asp-controller="Certifications" asp-action="Index" class="navbar-brand">Certifications</a>
        </td>
    </tr>
    <tr>
        <td>

            <a asp-area="" asp-controller="Educations" asp-action="Index" class="navbar-brand">Educations (cringe)</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="" asp-controller="References" asp-action="Index" class="navbar-brand">References</a>
        </td>
    </tr>*@

    </tbody>
</table>