@{
    ViewData["Title"] = "Home";
}

<h2>About The Screwball Resume Project</h2>
<i>This is a project for the CNM .NET Deep Dive Bootcamp cohort 3, a 10 week course.</i><br/><br/>

<div>
    <p>
        In this project, I created a webpage with ASP.NET CORE using MVC. There are individual accounts and 
        login is required to edit data. The project reads and updates related data. Resume content is stupid. 
        I used ridiculous data culled from the far corners of the interwebs because I do better when amusing 
        myself while working toward my goals.
    </p>
</div><br/>
<div>
    <h3>The final masterpiece: </h3>
    <i>(insert incidental music here)</i>
</div>

<table class="table">
    <tbody>

        <tr>
            <td>
                <a asp-area="" asp-controller="Applicants" asp-action="Index" class="navbar-brand">The Screwball Resume Project</a>
            </td>
        </tr>
  

    </tbody>
</table>