@model ScrewballResume.Models.Qualification

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="QualificationID" />
        <dt>
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skill)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applicant.Address1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to Qualifications List</a><br />
            <a asp-controller="Applicants" asp-action="Index">Back to Applicants List</a>
        </div>
    </form>
</div>
